* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none !important;
    font-size: 15px;
    font-weight: 300;
}

.active-sidebar {
    flex: 0 0 100% !important;
    max-width: 100%;
    transition: 0.3s;
}

.fa {
    margin-right: 5px;
}
.text-black {
    color: #202124 !important;
}
.contact-header {
    margin-bottom: 20px;
    display: flex;
    
    align-items: center;
}
#btn-toggle-sidebar {
    cursor: pointer;
    margin-right: 15px;
}
.contact-title {
    color: #000;
    font-size: 28px;
    margin-left: 5px;
}
.btn-create-contact {
    box-shadow:  0 1px 2px 0 rgba(60,64,67,0.302), 0 1px 3px 1px rgba(60,64,67,0.149);
    background-color: #fff;
    color: black;
    padding: 12px 26px;
    border: none;
    border-radius: 20px;
    transition: 0.3s;
}
.btn-create-contact:hover {
    box-shadow: 0 1px 3px 0 rgba(60,64,67,0.302), 0 4px 8px 3px rgba(60,64,67,0.149);
    transition: 0.3s;
}
.btn-create-contact .fa-plus {
    background-image: linear-gradient(to right, #fc466b, #0984e3);
    background-clip: text;
    -webkit-background-clip: text;
    color: rgba(9, 132, 227, 0.2);
}
.menu-contact {
    margin: 10px auto;
}
.menu-contact .nav-link{
    color: #000;
}
.list-active {
    color: #1a73e8 !important;
    background-color: #E6F1FE;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.search-bar {
    height: 46px;
}
.search-bar #search-contact {
    height: 100%;
}

.nav-item {
    position: relative;
}
.nav-item .overlap-label {
    position: absolute;
    top: 8px;
    right: 15px;
    cursor: pointer;
    display: none;
}
.nav-item:hover .overlap-label {
    display: block;
}

